<ion-header>
  <div class="header-chat">
  <ion-toolbar>

    <div class="logo-chat">
    <ion-buttons slot="start">
      <img src="assets/icon/logo-UnifyChat.png" alt="Logo" class="header-logo" />
    </ion-buttons>
    </div>

    <ion-title></ion-title>

    <div class="button-chat">
    <ion-buttons slot="end">
      <!-- Botón de cerrar sesión -->
      <ion-button (click)="logout()">
        <ion-icon [icon]="logOutOutline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    </div>

  </ion-toolbar>
  </div>
</ion-header>

<ion-content class="chat-content">
  <ion-list lines="none">
    @for ( msg of messages(); track msg.id) {
      <ion-item [class.own]="msg.from === (currentUser | async)?.uid">
        <ion-avatar *ngIf="msg.avatar" slot="start">
          <img [src]="msg.avatar" />
        </ion-avatar>
        <ion-label class="message-bubble">
          <p>{{ msg.text }}</p>
          <span class="timestamp">{{ msg.ts | date:'shortTime' }}</span>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>

<ion-footer>
  <div class="chat-footer">
  <ion-toolbar>
    <div class="footer-inner">
    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
      <ion-item lines="none">
        <div class="input-message">
        <ion-input
          formControlName="message"
          placeholder="Escribe un mensaje"
        ></ion-input>
        </div>
        <div class="btn-message">
        <ion-button
          slot="end"
          type="submit"
          [disabled]="messageForm.get('message')?.invalid"
          class="circle-btn"
        >
          <i class="fa-regular fa-paper-plane"></i>
        </ion-button>
        </div>
      </ion-item>
    </form>
    </div>
  </ion-toolbar>
  </div>
</ion-footer>
