<ion-header>
  <div class="header-chat">
  <ion-toolbar>

    <div class="logo-chat">
    <ion-buttons slot="start">
      <img src="assets/icon/logo-UnifyChat.png" alt="Logo" class="header-logo" />
    </ion-buttons>
    </div>

    <ion-title></ion-title>

    <div class="button-chat">
    <ion-buttons slot="end">
      <!-- Botón de cerrar sesión -->
      <ion-button (click)="logout()">
        <ion-icon [icon]="logOutOutline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    </div>

  </ion-toolbar>
  </div>
</ion-header>

<ion-content class="chat-content">
  <ion-list lines="none">
    @for ( msg of messages() ; track messages.from; let index = $index ) {
      <ion-item [class.own]="msg.from === (currentUser$ | async)?.uid">
        @if (msg.avatar) {
          <ion-avatar slot="start">
            <img [src]="msg.avatar" />
          </ion-avatar>
        }
        <ion-label class="message-bubble">
          <p>{{ msg.text }}</p>
          <span class="timestamp">{{ msg.ts | date:'shortTime' }}</span>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-input
        #msgInput
        placeholder="Escribe un mensaje"
        (keyup.enter)="
          sendMessage(msgInput.value);
          msgInput.value = ''
        "
      ></ion-input>
      <ion-button
        slot="end"
        (click)="
          sendMessage(msgInput.value);
          msgInput.value = ''
        "
      >
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
